django
mysqlclient
pillow
pandas
scikit-learn
django-jazzmin
djangorestframework
django-cors-headers


selenium
beautifulsoup4
html5lib
lxml


streamlit
langchain
langchain-ollama
Ollama
python-dotenv

python-telegram-bot