{% extends 'events/layouts/base.html' %}

{% block title %}Signup{% endblock title %}
{% block content %}
{%include 'events/inc/txt.html'%}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<script src="{% static 'js/login.js' %}"></script>

<div class="blur-bg-overlay"></div>
<div class="form-popup">
    <span class="close-btn material-symbols-rounded">close</span>
    <div class="form-box signup">
        <div class="form-details">
            <h2>Create Account</h2>
            <p>To become a part of our community, please sign up using your personal information.</p>
        </div>
        <div class="form-content">
            <h2>SIGNUP</h2>
            <form action="" method="post">
                {% csrf_token %}
                <div class="input-field">
                    {{form.username}}
                    <label>Enter your Username</label>
                </div>
                <div class="input-field">
                    {{form.email}}
                    <label>Enter your Email</label>
                </div>
                <div class="input-field">
                    {{form.password1}}
                    <label>Create password</label>
                </div>
                <div class="input-field">
                    {{form.password2}}
                    <label>Conform password</label>
                </div>
                <div class="policy-text">
                    <input type="checkbox" id="policy">
                    <label for="policy">
                        I agree to the
                        <a href="#" class="option">Terms & Conditions</a>
                    </label>
                </div>
                <button type="submit">Sign Up</button>
            </form>
            <div class="bottom-link">
                Already have an account? 
                <a href="{%url 'login'%}" id="login-link">Login</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    {{form.errors}}
</div>
{% endblock content %}
