<h1 class="txt1">
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp"Make the Contact <br>
    &nbsp awakening a pure interest in knowledge."
</h1>

<style>
   @media (min-width: 1200px) {
    .txt1 {
        font-size: 4.5rem;
        /* margin-left: 466px; */
         /* margin-top: 500px;  */
        /* margin-bottom: 0.5rem; */
        font-weight: 200;
        line-height: 1.2;
        color: var(--bs-heading-color);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        color: azure;
    }
}

.txt1{
font-family: cursive;
color: azure;
}
.txt1 {
    margin-top: 200px;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--bs-heading-color);
    display: flex;
    justify-content: center;
    align-content: stretch;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    color: azure;
}
</style>